
.pause-background {

    background:black;
    opacity:0.80;
    position:fixed;
    bottom:0;
    margin-bottom:20px;
    width:100%;
    height:120px;

}

.pause-text-div {
    margin-left:20px;
    margin-top:10px;
    margin-bottom:20px;
}

.pause-headline {

    //font-family: Inter;
    font-weight:600

}

.pause-expl {
    //font-family: Inter;
    font-size:32px;
    font-weight:300;
}
