
.pause-background {

    background:black;
    opacity:0.80;
    position:fixed;
    bottom:0;
    margin-bottom:30px;
    width:100%;
    height:140px;
    line-height:70%;

}

.pause-text-div {
    margin-left:20px;
    margin-top:20px;
    margin-bottom:0px;
    line-height:70%;
}

.pause-headline {

    //font-family: Inter;
    font-weight:400

}

.pause-expl {
    //font-family: Inter;
    font-size:32px;
    font-weight:300;
}

 